<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add legend</title>
</head>
<body>
    <form method="POST" action="{% url 'legends:update' legend.id %}">
        {% csrf_token %}
        <div>
            <label>First Name: </label>
            <input type="text" name="first_name" value="{{legend.first_name}}">
        </div><br>
        <div>
            <label>Last Name: </label>
            <input type="text" name="last_name" value="{{legend.last_name}}">
        </div><br>
        <div>
            <label>Age: </label>
            <input type="number" name="age" value="{{legend.age}}">
        </div>
        <input type="submit" name="submit" value="submit">
    </form>
</body>
</html>